.main-contact-container{
    height: 700px;
    background-color: #000;
}

.button-div1{
    width: auto;
}
.button1{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    cursor: pointer;
}
.project-button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 40px;
    background: #000000;
    border: none;
    color: #fff7f7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 5px #000000;
    line-height: normal;
    letter-spacing: 3.6px;
    cursor: pointer;
    border-radius: 5px;
}


.contact-span{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    width: 50%;
}
.contact-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
    width: 453px;
    height: 447px;
    background: #5E57F5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 17px 15px 25px rgb(32, 32, 32);
}

.contact-description{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.contact-box-container{
    display: flex;
    justify-content: center;

}

.project-name{
    font-size: 32px;
    color: #FFF;
    margin-top: 15px;
    border-bottom: 2px solid red;
    
}
.name-input-box{
    width: 398px;
    height: 38px;
    border: none;
    margin: 15px;
    color: #000000;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    outline: 0;
    border-radius: 5px;
}

.name{
    color: #F7FFFC;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    padding-top: 30px;
    
}
input::placeholder {
  
    font: 0.7rem/1 sans-serif;
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media screen  and (max-width: 768px) and (min-width: 320px){
    .main-contact-container{
        height: 700px;
        width: auto; 
    }

    .about-me{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6px;
    }

    .contact-span{
        color: #000;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.6px;
        width: 90%;
    }
    .contact-box-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 35px;
        width: 403px;
        height: 447px;
        background: #1b1a1a;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 17px 25px 25px rgb(51, 50, 50);
    }
    .name-input-box{
        width: 308px;
        height: 38px;
        border-bottom: 1px solid #fff8f8;
        background-color: #1B1A1A;
        
    }
    
    .name{
        color: #fff8f8;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.6px;
        
    }
}

