.exp-main-div{
    height: 800px;
    background-color: rgb(255, 255, 255);
   
}

.exp-name{
    font-size: 32px;
    color: #000000;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    border-bottom: 2px solid red;
}