.project-main-div{
height: 600px;
background-color: #06A279;
}

.project-div-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.project-info{
   color: rgb(0, 0, 0);
   padding: 15px;
   font-weight: 500;
   color: #04292A;
}
.project-name{
    font-size: 32px;
    color: #FFF;
    margin-top: 15px;
    border-bottom: 2px solid red;
    
}
.project-name-main{
    padding-top: 15px;
}

.project-name-child{
    font-size: 24px;
    color: #FFF;
    margin-top: 15px;
}
.project-child{
 width: 70%;
}
