.project-main-div{
height: 600px;
background-color: #0E8A47;
display: flex;
flex-direction: column;
}

.project-name{
    font-size: 32px;
    color: #FFF;
    margin-top: 15px;
    border-bottom: 2px solid red;
    
}
.project-name-main{
    padding-top: 15px;
}